* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

body {
  font-family: "Open Sans";
  text-align: center;
}

.aws-header {
  float: right;
  padding: 1rem 2rem;
}

.aws-header .aws {
  color: #ff9900;
}

.container {
  margin: 0 auto;
  width: 65vw;
  height: 80%;
}

.forecast {
  margin-top: 2rem;
}

.forecast img {
  height: 10rem;
}
